<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">GBIM Monitor</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"></li>
    <li class="nav-item">
      <% if (user=!null) { %>
      <h1>welcome <%= req.user.nom %></h1>
      <% } %> <% else{ %>
      <a class="nav-link" href="/login">login</a>
      <a class="nav-link" href="/signup">signup</a>
      <% } %>
      <a class="nav-link" href="/">Home</a>
    </li>
  </ul>
</nav>
