<nav class="navbar navbar-dark bg-dark navbar-expand-lg justify-content-between">
  <a class="navbar-brand" href="/">GBIM Monitor</a>
  <ul class="navbar-nav flex-row">
    <% if (typeof user != 'undifined' && user) { %>
      <li class="nav-item  ml-2">
        <a class="nav-link" href="/patients">Liste des patients</a>
      </li>
      <li class="nav-item  ml-2">
        <a class="nav-link" href="/patient">ajouter patient</a>
      </li>
      <li class="nav-item  ml-2">
        <a class="nav-link" href="/logout">logout</a>
      </li>
    <% } else{ %>
      <li class="nav-item  ml-2">
        <a class="nav-link" href="/login">login</a>
      </li>
      <li class="nav-item  ml-2">
        <a class="nav-link" href="/signup">signup</a>
      </li>
    <% }%>
  </ul>
</nav>